    @font-face {
        font-family: 'OpenSans';
        src: url(open-sans/OpenSans-Bold.ttf);
    }

    @font-face {
        font-family: 'Arial';
        src: url(Arial\ Black.ttf);
    }

body {
    background-color: #CCCCCC;
  }
    
    h1 {
        font-style: italic;
        font-size: 40px;
    }


ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
background-color: #333;
}

li {
float: right;
}

li a {
display: block;
color: white;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-style: normal;
}

li a:hover {
background-color: #111;
}

.bildeboks1 {
    display: flex;
}
.VLFKlogo {
    width: 224px;
    height: 55px;
}

.nav2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 100px;
    margin-top: -15px;
    margin-bottom: -15px;
}



.container {
    display: inline-block;
    cursor: pointer;
  }




.bildeboks2 {
    display: flex;
}

.Skole {
    border-radius: 54px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 3%;
}

.Adresse {
    font-size: 17px;
    font-style: normal;
    margin-left: 25%;
}


.bildebokskontakt {
    display: flex;
}

.kontakt {
    position: absolute;
    width: 24%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 3%;
}

.bildeboksCartoon {
    display: flex;
}

.Cartoon {
    width: 15%;
    margin-left: 55%;
    margin-right: 55%;
    margin-top: -3%;
}


.box1 {
    background-color: #262525;
    height: 150px;
    margin-bottom: -15px;
    max-width: 10000px;
    text-align: center;
}
.highlight-text1 {
    color: #FFFFFF;
    font-size: 20px;
    padding-top: 30px;
}

.strekbottom {
    justify-content: center;
    background-color: #FFFFFF;
    height: 2px;
    width: 400px;
    border-radius: 54px;
    margin-top: -90px;
    margin-left: auto;
    margin-right: auto;
}

.highlight-text2 {
    color: #FFFFFF;
    font-size: 15px;
    padding-top: 3px;
}
.highlight-text3 {
    color: #FFFF;
    font-size: 15px;
    margin-top: -10px;
    text-align: center;
}
.highlight-text4 {
    color: #3C83EE;
    text-decoration: underline;
    font-size: 15px;
    margin-top: -10px;
    text-align: center;
}

.studieikoner {
    display: flex;
    width: 1030px;
    height: 130px;
    margin-left: 50px;
    margin-bottom: 50px;
}
.studieikon1 {
    width: 130px;
    height: 130px;
}

    h2 {
        font-style: 50px;
        font-size: 40px;
        font-family: 'OpenSans';
        margin-left: 20px;
}

.tekstbox1 {
    width: 1000px;
}

.avsnitt1 {
    font-size: 20px;
    margin-left: 25px;

}
.avsnitt2 {
    font-size: 18px;
    margin-left: 15px;
    width: 10000px;
}

.avsnitt3 {
    font-size: 18px;
    margin-left: 15px;
}

.avsnitt4 {
    font-size: 18px;
    margin-left: 15px;
}

.avsnitt5 {
    width: 1000px;
    font-size: 18px;
    margin-left: 15px;
}

.avsnitt6 {
    font-size: 18px;
    margin-left: 195px;
    margin-top: -30px;
    margin-bottom: 50px;
}

.IMstudiobilde {
    display: flex;
    width: 500px;
    height: 300px;
    margin-left: 510px;
}

.IMtekstbox2 {
    display: flex;
    width: 500px;
    height: 130px;
    margin-top: -280px;
}
.IMtekstbox3 {
    display: flex;
    width: 500px;
    height: 130px;
    margin-top: -65px;
}

.IMavsnitt1 {
    width: 1000px;
    font-size: 18px;
    margin-left: 25px;
}

.MPtekstbox1 {
    font-size: 22px;
    margin-left: 25px;
    font-weight: bolder;
}

.MPtekstbox2 {
    font-size: 18px;
    margin-left: 40px;
    margin-bottom: 70px;
}

.Bildeserie {
    width: 700px;
}

@media screen and (max-width: 1000px) {
    .active {
        display: none;
    }
}
